apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: quarkus-quay-test
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: quarkus-quay-test
    app.kubernetes.io/part-of: test
  name: quarkus-quay-test
  namespace: mdsaud
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: quarkus-quay-test
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: quarkus-quay-test
    spec:
      containers:
      - image: https://quay.io/quarkus/code-quarkus-app
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
status: {}
